
.card{
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px 10px grey;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 60px 0;
    border-radius: 10px;
}
.title-card{
    font-size: 34px;
    font-weight: 700;
    color: #025495;
}
.list-item{
    padding: 5px;
    color:#585858;
    font-weight: 600;
}
.lil{
    width: 55%;
    margin: 0 auto 10px auto;
    font-size: 15px;
    color: #025495;
    line-height: 20px;
}
.space{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}